body {
    font-size: $font-size--regular;
    font-family: $font-family--regular;
    font-weight: $font-weight--medium;
    color: $color--primary;
}

.text--underline {
  text-decoration: underline;
}

.text--bold {
  font-weight: $font-weight--bold;
}
