@import url($font-url--google);

body {
  font-family: $font-family;
  font-weight: $font-weight--light;
  color: $charcoal;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}
