//==============================
// Main
//=============================

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 35px;
}

.navbar__logo {
  @include img-replace("logo.png", em(50px), em(50px));
  cursor: pointer;
}

.navbar__icon {
  background-size: contain;
  cursor: pointer;
}

.navbar__icon--github {
  @include img-replace("github-icon.svg", em(25px), em(25px));
}

.navbar__nav {
  list-style: none;
}

.navbar__nav__item {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;

  a {
    color: colour(default);
    text-decoration: none;

    &:hover {
      color: colour(blue, dark);
    }
  }

  &:hover {
    color: colour(blue, dark);
  }
}

.navbar__nav__item--end {
  margin-right: 0;
}

// Hero
.hero {
  background-color: colour(pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  margin-right: em(165px);
}

.hero__content__footer {
  margin-top: 60px;
}

.hero__image {
  @include img-replace("illustration.png", em(492px), em(476px));
  background-size: contain;
}


// Button
.btn {
  background-color: colour(purple);
  color: colour(white);
  text-decoration: none;
  padding: em(16px) (60px);
  border-radius: $border-radius--button;
}

// Section
.section {
  padding-top: 60px;
}


// Work
.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.work__item {
  width: calc(100vw/ 4);
  background-color: yellow;
  height: 350px;
  margin: 30px;
}

// Contact
.contact {
  background-color: colour(blue, light);
  height: em(400px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__info {
  text-align: left;

  a {
    color: colour(default);
    text-decoration: none;
  }
}
