.jumbo {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
}

.jumbo_content {
  padding-top: 60px;
}

.jumbo_title {
  font-family: $font-family--italic;
  font-size: 50px;
  font-weight: $font-weight--light;
}

.jumbo_text {
  font-size: 18px;
  font-weight: $font-weight--light;
  max-width: 60%;
}

.jumbo--dark {
  background-color: $background-color--blue;
  color: $color--light;
}
