// base colours
$colour-black: #282b42;
$colour-gray: #727483;
$colour-highlight: #fdebcc;
$colour-border: #ebecf2;

// link colours
$link-colour: #256798;
$link-colour-dark: #215c88;
$link-underline-colour: #add7ea;
$link-underline-colour-light: #bcdceb;
$link-underline-colour-lighter: #c6e4f2;

